<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Markovka & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="clients">Clients</a>
      <a class="nav-item nav-link" href="calls">Calls</a>
      <a class="nav-item nav-link" href="visits">Visits</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.facebook.com/manicureMarkovka" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.instagram.com/markovka_manicure/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>
