<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Markovka & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="clients">Clients</a>
      <a class="nav-item nav-link" href="calls">Calls</a>
      <a class="nav-item nav-link" href="visits">Visits</a>

      <form class="form-inline" action="localhost:8080/login" method="post">
        <label class="sr-only" for="inlineFormInputName2">username</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="username" name="username">

        <label class="sr-only" for="inlineFormInputGroupUsername2">password</label>
        <div class="input-group mb-2 mr-sm-2">
          <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="password" name="password">
        </div>
        <!--<div class="form-check mb-2 mr-sm-2">-->
          <!--<input class="form-check-input" type="checkbox" id="inlineFormCheck">-->
          <!--<label class="form-check-label" for="inlineFormCheck">-->
            <!--Remember me-->
          <!--</label>-->
        <!--</div>-->
        <button type="submit" class="btn btn-primary mb-2">Login</button>
      </form>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.facebook.com/manicureMarkovka" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.instagram.com/markovka_manicure/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>
